body {
   background-color: #213b50;
    color: white;
}

label {
    display: block;
}

input[type="text"],
input[type="tel"],
input[type="email"], 
textarea, 
select {
    background-color: #2b4a64;
    color: #fff;
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #2b4a64;
    padding: 10px 0;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #fff;
    outline: none;
    background-color: #4e708c;
}

label[for*="man"], label[for="agreement"] {
    display: inline;
}

button[type="submit"] {
    margin-top: 20px;
    background-color: #1ac056;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border:1px solid #1ac056;
    color: #fff;
}