* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}


header#main-header {
background-image: url(../img/man-1.jpg);
background-position: center;
background-size: cover;
font-family: Verdana, Geneva, sans-serif;
color: #fff;
height:100vh;
position: relative;
margin: 0 auto;
}

header#main-header h2 {
    position: absolute;
    text-align: left;
    font-weight: 400;
    left: 0;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    padding: 40px;
    
}

header#main-header h1 {
    position: absolute;
    text-align: left;
    font-weight: 700;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    padding: 40px;
}


@media (max-width: 1170px) {
    #main-header {
        background-image: url(../img/man-2.jpg);
        background-position: center;
        background-size: cover;
        height: 70%;
        font-size: 15px;
    }
    
    header#main-header h2 {
    position: absolute;
    text-align: right;
    font-weight: 400;
    left: 0;
    right: 250px;
    top: 18%;
    padding: 30px;
    }
    
    header#main-header h1 {
    position: absolute;
    text-align: right;
    font-weight: 700;
    left: 0;
    right: 0;
    top: 24%;
    padding: 35px;
    }

}
    

@media (max-width: 992px) {
    #main-header {
        height: 50vh;
        background-image: url(../img/man-1.jpg);
        background-position: center;
        background-size: cover;
        font-size: 15px;
        
    }
    
    header#main-header h2 {
    position: absolute;
    text-align: center;
    font-weight: 400;
    left: 0;
    right: 0;
    top: 105%;
    padding: 20px;
    color: black;
    }
    
    header#main-header h1 {
    position: absolute;
    text-align: center;
    font-weight: 700;
    left: 0;
    right: 0;
    top: 115%;
    padding: 20px;
    color: black;    
    }

}
 